{% extends 'app/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .float{
	position:fixed;
	width:70px;
	height:70px;
	bottom:60px;
	right:60px;
	background-color:red;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 3px 3px 3px #999;
}

.my-float{
	margin-top:22px;
}
.sec{
  float:left;
  text-align:center;
  margin-left:10%;

}
.sec1{

  text-align:center;

}
.User{
  margin-left:10%;
  color:black;
}
  </style>
</head>




<div class="User">

<div class="container">
  <h4>Join Request's</h4>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">List of Request</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Current job Title</th>
          <th>Intrested in*</th>

        </tr>
      </thead>
      {% for p in join%}
  {% if p %}

      <tr>
        <td> {{p.first_name}}</td>

        <td>{{p.last_name}}</td>
        <td>{{p.Email}}</td>
        <td>{{p.contact_number}}</td>
        <td>{{p.current_job_title}}</td>
        <td>{{p.Intrested}}</td>
  </tr>
      {%else%}
      <br><br><br>
      <h1>no Reaquest</h1>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
